/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Hind');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	font-family: 'Hind', sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: content-box;
}

/* Basic tag styling */
b {
	font-weight: 800;
}
input {
	height: 40px;
	width: 260px;
	display: inline-block;
	border:1px solid #d5dee5;
	border-radius: 3px;
	font: 400 18px Arial;
	text-align:left;
	padding-left: 10px;
}
input:hover {
	background-color: #efefef;
	cursor: pointer;
}
select {
	font-size: 16px;
	height: 36px;
	width: 150px;
	color:#4777c1;
	background-color: #ffffff;
	border:none;
	border-radius: 4px;
	padding-left: 3px;
	margin-left: 20px;
}
h1 {
	font-size: 36px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 60px;
	font-weight: 600;
	text-align: center;
	color: #61a4e8;
	width: 250px;
	letter-spacing: 2px;
}
h2 {
	font-size: 20px;
	margin: 18px 0px;
	font-weight: 600;
}
h3 {
	font-size: 24px;
	margin: 16px 0px;
	font-weight: 600;
	text-align: center;
	color: #c5161d;
}
p {
    margin: 0;
	padding: 0;
	border: 0;
	font-size:18px;
	font: inherit;
	color: #888b91;
}
#motrgage_wrapper_subb {
	width: 1000px;
	margin: 0 auto;
}
.allInputMortgage {
	width: 800px;
	margin: 0 auto;
}
.allHeadMain {
	height: 40px;
	background-color: #bce0ff;
	border-radius: 4px;
	border-bottom: 1px solid #ffffff;
}
.allHeadMain2 {
	height: 40px;
	background-color: #1f53a5;
	border-radius: 4px;
	border-bottom: 1px solid #ffffff;
}
.allHeadMain3 {
	height: 40px;
	background-color: #1f7cf4;
	border-radius: 4px;
	border-bottom: 1px solid #ffffff;
}
.inlineBlock {
	display: inline-block;
}
.headPClass {
	font-size: 20px;
	font-weight: 500;
	color:#828589;
	margin-left: 24px;
}
.headPClass2 {
	font-size: 20px;
	font-weight: 500;
	color:#ffffff;
	line-height: 40px;
	margin-left: 24px;
}
.labelClass {
	font-size: 18px;
	text-align: left;
	margin-bottom: 5px;
	margin-left: 20px;
}
.mainInputsClass {
	width: 350px;
	margin: 0 auto;
	margin-top: 10px;
}
.allMortgageBlocks {
	width: 390px;
	margin-left: 5px;
}
.weekMonthClass {
	width: 85px;
	height: 40px;
	border: 1px solid #d5dee5;
	text-align: center;
}
.active {
	background-color: #3079c1;
}
.active p {
	color: #ffffff;	
}
.weekMonthClass:hover {
	background-color: #3079c1;
	color: #ffffff;
	cursor: pointer; 
}
.weekMonthClass p:hover {
	color: #ffffff;
	cursor: pointer; 
}
.fothNigClass {
	width: 110px;
	height: 40px;
	border: 1px solid #d5dee5;
	text-align: center;
}
.fothNigClass p:hover {
	color: #ffffff;
	cursor: pointer;
}
.fothNigClass:hover {
	background-color: #3079c1;
	color: #ffffff;
	cursor: pointer;
}
.fothNigClass p {
	height: 40px;
	line-height: 40px;
}
.weekMonthClass p {
	height: 40px;
	line-height: 40px;
}
.mortgageHeadMarg {
	width: 600px;
	height: 30px;
}
.mortgageHeadMarg2 {
	width: 600px;
	vertical-align: middle;
}
#mortgage_main_inputs_3 {
	height: 41px;
}
.arrowClass {
	width: 12px;
	height: 12px;
	margin-left: 10px;
}
.arrowClass img {
	width: 100%;
}
.arrowClass2 {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	transform: rotate(180deg);
	display: none;
}
.arrowClass2 img {
	width: 100%;
}
.allInputsP {
	font-size: 18px;
}
.mortgageInputsMain {
	padding-bottom: 20px;
	background-color: #f2f2f2;
}
.marginInputClass {
	margin-left: 20px;
}
#mortgage_total_main {
	width: 800px;
	margin:0 auto;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	background-color: #4777c1;
}
#mortgage_total_main p {
	margin-left: 24px;
	color: #ffffff;
	width: 575px;
}
#mortgage_total_span {
	width: 150px;
	text-align: right;
	color: #ffffff;
	font-size: 20px;
}
#mortgage_all_results {
	margin-top: 30px;
}
.allPResults {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    line-height: 40px;
    margin-left: 24px;
}
#mortgage_results_forth_1,#mortgage_results_month_1,#mortgage_results_forth_2,#mortgage_results_month_2,#mortgage_results_forth_3,#mortgage_results_month_3 {
	display: none;
}
.yearInputClass {
	height: 34px;
	font-size: 16px;
	background-color:#bce0ff;
	color: #4777c1;
	border:1px solid #ffffff; 
	width: 150px;
	margin-left: 20px;
}
.marginDollarP {
	margin-right: 20px;
}
.marginDollarP2 {
	margin-left: 20px;
}
.mortgageSliderMain {
	width: 800px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px solid #4777c1;
	border-radius: 4px;
}
.mortgageSliderMain p {
	font-size: 18px;
	color: #4777c1;
}
.mortgageSliderText {
	margin:10px 0px 0px 24px;
}
.sliderInput {
	width: 500px;
	-webkit-appearance: none; 
    height: 8px;
    background: #bce0ff;
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    border:none;
    margin-top: 20px;
}
.sliderInput:hover {
    background: #bce0ff;
}
.sliderInput::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  #1f7cf4; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border:1px solid #ffffff;
    border-radius: 50%;
}
.mortgageSliderSubb {
	width: 600px;
	height: 50px;
	margin: 0 auto;
}
.allDolarDivs {
	line-height: 50px;
	vertical-align: top;
}
.allSpanHead {
	width: 150px;
	height: 30px;
	margin-top: 5px;
	font-size: 20px;
	text-align:right;
	line-height: 30px;
	color: #828589;
}
.allPHeadAmount {
	width: 20px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 22px;
	color: #828589;
}
.allPHeadAmount2 {
	width: 20px;
	text-align: center;
	font-size: 20px;
	color: #828589;
}
.allSpanHead  span {
	width: 150px;
	height: 30px;
	display: inline-block;
}
.mainHeadPClass {
	height: 40px;
}
/*During development*/

#mortgage_inputs_main_2, #mortgage_inputs_main_3 {
	display: none;
}

#arrow_up_2:hover {
	cursor: pointer;
}

#arrow_up_3:hover {
	cursor: pointer;
}
