/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*@import url('https://fonts.googleapis.com/css?family=Hind');*/

#mortgage_main_wrapper div,#mortgage_main_wrapper span,#mortgage_main_wrapper applet,#mortgage_main_wrapper object,#mortgage_main_wrapper iframe,#mortgage_main_wrapper
h1,#mortgage_main_wrapper h2,#mortgage_main_wrapper h3,#mortgage_main_wrapper h4,#mortgage_main_wrapper h5,#mortgage_main_wrapper h6,#mortgage_main_wrapper p,#mortgage_main_wrapper blockquote,#mortgage_main_wrapper pre,#mortgage_main_wrapper
a,#mortgage_main_wrapper abbr,#mortgage_main_wrapper acronym,#mortgage_main_wrapper address,#mortgage_main_wrapper big,#mortgage_main_wrapper cite,#mortgage_main_wrapper code,#mortgage_main_wrapper
del,#mortgage_main_wrapper dfn,#mortgage_main_wrapper em,#mortgage_main_wrapper img,#mortgage_main_wrapper ins,#mortgage_main_wrapper kbd,#mortgage_main_wrapper q,#mortgage_main_wrapper s,#mortgage_main_wrapper samp,#mortgage_main_wrapper
small,#mortgage_main_wrapper strike,#mortgage_main_wrapper strong,#mortgage_main_wrapper sub,#mortgage_main_wrapper sup,#mortgage_main_wrapper tt,#mortgage_main_wrapper var,#mortgage_main_wrapper
b,#mortgage_main_wrapper u,#mortgage_main_wrapper i,#mortgage_main_wrapper center,#mortgage_main_wrapper
dl,#mortgage_main_wrapper dt,#mortgage_main_wrapper dd,#mortgage_main_wrapper ol,#mortgage_main_wrapper ul,#mortgage_main_wrapper li,#mortgage_main_wrapper
fieldset,#mortgage_main_wrapper form,#mortgage_main_wrapper label,#mortgage_main_wrapper legend,#mortgage_main_wrapper
table,#mortgage_main_wrapper caption,#mortgage_main_wrapper tbody,#mortgage_main_wrapper tfoot,#mortgage_main_wrapper thead,#mortgage_main_wrapper tr,#mortgage_main_wrapper th,#mortgage_main_wrapper td,#mortgage_main_wrapper
article,#mortgage_main_wrapper aside,#mortgage_main_wrapper canvas,#mortgage_main_wrapper details,#mortgage_main_wrapper embed,#mortgage_main_wrapper 
figure,#mortgage_main_wrapper figcaption,#mortgage_main_wrapper footer,#mortgage_main_wrapper header,#mortgage_main_wrapper hgroup,#mortgage_main_wrapper 
menu,#mortgage_main_wrapper nav,#mortgage_main_wrapper output,#mortgage_main_wrapper ruby,#mortgage_main_wrapper section,#mortgage_main_wrapper summary,#mortgage_main_wrapper
time,#mortgage_main_wrapper mark,#mortgage_main_wrapper audio,#mortgage_main_wrapper video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#mortgage_main_wrapper article,#mortgage_main_wrapper aside,#mortgage_main_wrapper details,#mortgage_main_wrapper figcaption,#mortgage_main_wrapper figure,#mortgage_main_wrapper 
footer,#mortgage_main_wrapper header,#mortgage_main_wrapper hgroup,#mortgage_main_wrapper menu,#mortgage_main_wrapper nav,#mortgage_main_wrapper section {
	display: block;
}
#mortgage_main_wrapper {
	font-family: 'Hind', sans-serif;
}
#mortgage_main_wrapper {
	line-height: 1;
}
#mortgage_main_wrapperol,#mortgage_main_wrapper ul {
	list-style: none;
}
#mortgage_main_wrapper blockquote,#mortgage_main_wrapper q {
	quotes: none;
}
#mortgage_main_wrapper blockquote:before,#mortgage_main_wrapper blockquote:after,
#mortgage_main_wrapper q:before,#mortgage_main_wrapper q:after {
	content: '';
	content: none;
}
#mortgage_main_wrapper table {
	border-collapse: collapse;
	border-spacing: 0;
}

#mortgage_main_wrapper * {
	box-sizing: content-box;
}

/* Basic tag styling */
#mortgage_main_wrapper b {
	font-weight: 800;
}
#mortgage_main_wrapper input {
	height: 40px;
	width: 230px;
	display: inline-block;
	border:1px solid #d5dee5;
	border-radius: 3px;
	font: 400 18px Arial;
	text-align:left;
	padding-left: 10px;
}
#mortgage_main_wrapper input:hover {
	background-color: #efefef;
	cursor: pointer;
}
#mortgage_main_wrapper select {
	font-size: 16px;
	height: 36px;
	width: 150px;
	color:#4777c1;
	background-color: #ffffff;
	border:none;
	border-radius: 4px;
	padding-left: 3px;
	margin-left: 20px;
}
#mortgage_main_wrapper h1 {
	font-size: 36px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 60px;
	font-weight: 600;
	text-align: center;
	color: #fc6621;
	width: 250px;
	letter-spacing: 2px;
}
#mortgage_main_wrapper h2 {
	font-size: 20px;
	margin: 18px 0px;
	font-weight: 600;
}
#mortgage_main_wrapper h3 {
	font-size: 24px;
	margin: 16px 0px;
	font-weight: 600;
	text-align: center;
	color: #c5161d;
}
#mortgage_main_wrapper p {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 18px !important;
	font: inherit;
	color: #888b91;
}
#mortgage_main_wrapper #motrgage_wrapper_subb {
	width: 700px;
	margin: 0 auto;
}
#mortgage_main_wrapper .allInputMortgage {
	width: 700px;
	margin: 0 auto;
}
#mortgage_main_wrapper .allHeadMain {
	height: 40px;
	background-color: #ededed;
	border-radius: 4px;
	border-bottom: 2px solid #fc6621;
}
#mortgage_main_wrapper .allHeadMain2 {
	height: 40px;
	background-color: #ededed;
	border-radius: 4px;
	border-bottom: 2px solid #fc6621;
	color: #828589;
}
#mortgage_main_wrapper .allHeadMain3 {
	height: 40px;
	background-color:#ff6600;
	border-radius: 4px;
	border-bottom: 1px solid #b2b2b2;
	color: #828589;
}
#mortgage_main_wrapper #mortgage_results_weekly_repayments_1 {
	height: 100px;
	background-color: #ff6600;
	border-radius: 4px;
	border-bottom: 1px solid #b2b2b2;
	color: #ffffff;
}
#mortgage_main_wrapper #mortgage_results_weekly_repayments_1 span {
	color: #ffffff;
}
#mortgage_main_wrapper #mortgage_results_weekly_repayments_1 p {
	color: #ffffff;
	width: 370px;
	margin: 0 auto;
	text-align: center;
    font-weight: 600;
}
#mortgage_main_wrapper #mortgage_w_r_1_span {
	font-size: 34px;
	padding-top: 20px;
	width: 300px;
	text-align: center;
}
#mortgage_main_wrapper .inlineBlock {
	display: inline-block;
}
#mortgage_main_wrapper .headPClass {
	font-size: 20px;
	font-weight: 500;
	color:#828589;
	margin-left:44px;
}
#mortgage_main_wrapper .headPClass2 {
	font-size: 20px;
	font-weight: 500;
	color:#828589;;
	line-height: 40px;
	margin-left: 24px;
}
#mortgage_main_wrapper .labelClass {
	font-size: 18px;
	text-align: left;
	margin-bottom: 5px;
	margin-left: 20px;
}
#mortgage_main_wrapper .mainInputsClass {
	width: 330px;
	margin: 0 auto;
	margin-top: 10px;
}
#mortgage_main_wrapper .allMortgageBlocks {
	width: 340px;
	margin-left: 5px;
}
#mortgage_main_wrapper .weekMonthClass {
	width: 85px;
	height: 40px;
	border: 1px solid #d5dee5;
	text-align: center;
}
#mortgage_main_wrapper .active {
	background-color:#fc6621;
}
#mortgage_main_wrapper .active p {
	color: #ffffff;	
}
#mortgage_main_wrapper .weekMonthClass:hover {
	background-color: #fc6621;
	color: #ffffff;
	cursor: pointer; 
}
#mortgage_main_wrapper .weekMonthClass p:hover {
	color: #ffffff;
	cursor: pointer; 
}
#mortgage_main_wrapper .fothNigClass {
	width: 110px;
	height: 40px;
	border: 1px solid #d5dee5;
	text-align: center;
}
#mortgage_main_wrapper .fothNigClass p:hover {
	color: #ffffff;
	cursor: pointer;
}
#mortgage_main_wrapper .fothNigClass:hover {
	background-color: #fc6621;
	color: #ffffff;
	cursor: pointer;
}
#mortgage_main_wrapper #mortgage_head_subb_1 {
	margin-top: 10px;
}
#mortgage_main_wrapper .fothNigClass p {
	height: 40px;
	line-height: 40px;
}
#mortgage_main_wrapper .weekMonthClass p {
	height: 40px;
	line-height: 40px;
}
#mortgage_main_wrapper .mortgageHeadMarg {
	width: 600px;
	height: 30px;
}
#mortgage_main_wrapper .mortgageHeadMarg2 {
	width: 600px;
	vertical-align: middle;
}
#mortgage_main_wrapper #mortgage_main_inputs_3 {
	height: 41px;
}
#mortgage_main_wrapper .arrowClass {
	width: 12px;
	height: 12px;
	margin-left: 10px;
}
#mortgage_main_wrapper .arrowClass img {
	width: 100%;
}
#mortgage_main_wrapper .arrowClass2 {
	width: 12px;
	height: 12px;
	margin-left: 10px;
	transform: rotate(180deg);
	display: none;
}
#mortgage_main_wrapper .arrowClass2 img {
	width: 100%;
}
#mortgage_main_wrapper .allInputsP {
	font-size: 18px;
}
#mortgage_main_wrapper .mortgageInputsMain {
	padding-bottom: 20px;
	background-color: #f2f2f2;
}
#mortgage_main_wrapper .marginInputClass {
	margin-left: 20px;
}
#mortgage_main_wrapper #mortgage_total_main {
	width: 800px;
	margin:0 auto;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	background-color: #4777c1;
}
#mortgage_main_wrapper #mortgage_total_main p {
	margin-left: 24px;
	color: #ffffff;
	width: 575px;
}
#mortgage_main_wrapper #mortgage_total_span {
	width: 150px;
	text-align: right;
	color: #ffffff;
	font-size: 20px;
}
#mortgage_main_wrapper #mortgage_all_results {
	margin-top: 30px;
	margin-bottom: 	30px;
}
#mortgage_main_wrapper .allPResults {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    line-height: 40px;
    /*margin-left: 24px;*/
}
#mortgage_main_wrapper .allResultsPWidth {
	width: auto;
}
#mortgage_main_wrapper #mortgage_results_forth_1,#mortgage_main_wrapper #mortgage_results_month_1,#mortgage_main_wrapper #mortgage_results_forth_2,#mortgage_main_wrapper #mortgage_results_month_2,#mortgage_main_wrapper #mortgage_results_forth_3,#mortgage_main_wrapper #mortgage_results_month_3 {
	display: none;
}
#mortgage_main_wrapper .yearInputClass {
	height: 34px;
	font-size: 16px;
	background-color:#bce0ff;
	color: #4777c1;
	border:1px solid #ffffff; 
	width: 150px;
	margin-left: 20px;
}
#mortgage_main_wrapper .marginDollarP {
	margin-right: 15px;
}
#mortgage_main_wrapper .marginDollarP2 {
	margin-left: 15px;
}
#mortgage_main_wrapper .mortgageSliderMain {
	width: 696px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border:2px solid #fc6621;;
	border-radius: 4px;
}
#mortgage_main_wrapper .mortgageSliderMain p {
	font-size: 18px;
	color: #828589;
}
#mortgage_main_wrapper #mortgage_results_slider_1_p {
	width: 580px;
	margin: 0 auto;
	padding:15px 0px 10px 0px;
}
#mortgage_main_wrapper .mortgageSliderText {
	margin:10px 0px 0px 24px;
}
#mortgage_main_wrapper .sliderInput {
	width: 500px;
	-webkit-appearance: none; 
    height: 8px;
    background: rgba(240,47,23,1);
	background: -moz-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(252,102,33,1)), color-stop(53%, rgba(241,111,92,1)), color-stop(64%, rgba(248,80,50,1)), color-stop(96%, rgba(246,44,15,1)), color-stop(99%, rgba(246,41,12,1)));
	background: -webkit-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: -o-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: -ms-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: linear-gradient(to right, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#f6290c', GradientType=1 );
    outline: none;
    opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
    border:none;
    margin-top: 20px;
}
#mortgage_main_wrapper .sliderInput:hover {
    background: rgba(240,47,23,1);
	background: -moz-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(252,102,33,1)), color-stop(53%, rgba(241,111,92,1)), color-stop(64%, rgba(248,80,50,1)), color-stop(96%, rgba(246,44,15,1)), color-stop(99%, rgba(246,41,12,1)));
	background: -webkit-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: -o-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: -ms-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	background: linear-gradient(to right, rgba(240,47,23,1) 0%, rgba(252,102,33,1) 0%, rgba(241,111,92,1) 53%, rgba(248,80,50,1) 64%, rgba(246,44,15,1) 96%, rgba(246,41,12,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#f6290c', GradientType=1 );
}
#mortgage_main_wrapper .sliderInput::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background:  #fc6621; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border:1px solid #ffffff;
    border-radius: 50%;
}
#mortgage_main_wrapper .mortgageSliderSubb {
	width: 600px;
	height: 50px;
	margin: 0 auto;
}
#mortgage_main_wrapper .allDolarDivs {
	line-height: 50px;
	vertical-align: top;
}
#mortgage_main_wrapper .allSpanHead {
	width: 150px;
	height: 30px;
	margin-top: 5px;
	font-size: 20px;
	text-align:right;
	line-height: 30px;
	color: #828589;
}
#mortgage_main_wrapper .allPHeadAmount {
	width: 20px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	font-size: 22px;
	color: #828589;
}
#mortgage_main_wrapper .allPHeadAmount2 {
	width: 20px;
	text-align: center;
	font-size: 20px;
	color: #828589;
}
#mortgage_main_wrapper .allSpanHead  span {
	/*width: 150px;*/
	height: 30px;
	display: inline-block;
}
#mortgage_main_wrapper .allHeadMain3 span {
/*	width: 150px;*/
	height: 30px;
	display: inline-block;
	font-size: 18px;
	text-align:left;
	color: #ffffff;
	font-weight: 600;
}
#mortgage_main_wrapper .allSpanResults {
	margin: 0 auto;
	/*width: 150px;*/
	height: 30px;
	margin-top: 5px;
	font-size: 20px;
	text-align:right;
	line-height: 30px;
	color: #828589;
}
#mortgage_main_wrapper .mainHeadPClass {
	height: 40px;
}
#mortgage_main_wrapper #mortgage_results_slider_input_1 {
	padding-left: 0px;
}

#mortgage_main_wrapper #mortgage_inputs_main_2,#mortgage_main_wrapper #mortgage_inputs_main_3 {
	display: none;
}
#mortgage_main_wrapper #mortgage_results_total_pay_2_subb {
	width: 370px;
	margin-left: 165px;
	color: #ffffff;
	text-align: center;
}
#mortgage_main_wrapper #mortgage_results_total_pay_2_subb p {
	font-size: 18px;
	color: #ffffff;
}
#mortgage_main_wrapper #mortgage_results_total_pay_1_subb {
    width: 370px;
	margin-left: 165px;
	color: #ffffff;
	text-align: center;
}
#mortgage_main_wrapper #mortgage_results_total_pay_1_subb p {
	font-size: 18px;
	color: #ffffff;
}
#mortgage_main_wrapper #mortgage_results_inclu_intrest_1_subb {
	width: 370px;
	margin-left: 165px;
	color: #ffffff;
	text-align: center;
}
#mortgage_main_wrapper #mortgage_results_inclu_intrest_1_subb {
	font-size: 18px;
	color: #ffffff;
}    

@media (max-width: 1100px) {
    #mortgage_main_wrapper #motrgage_wrapper_subb {
        width: 475px;
    }
    #mortgage_main_wrapper .allInputMortgage {
    	width: 475px;
    }
    #mortgage_main_wrapper #mortgage_results_total_pay_2_subb {
    	margin-left: 50px;
    }
    #mortgage_main_wrapper #mortgage_results_total_pay_1_subb {
    	margin-left: 50px;
    }
    #mortgage_main_wrapper #mortgage_results_inclu_intrest_1_subb {
    	margin-left: 50px;
    }
    #mortgage_main_wrapper .mortgageSliderMain {
    	width: 471px;
    }
    #mortgage_main_wrapper #mortgage_results_slider_1_p {
    	width: 450px;
    	text-align: center;
    }
    #mortgage_main_wrapper .mortgageSliderSubb {
    	width: 450px;
    }
    #mortgage_main_wrapper .sliderInput {
    	width: 350px;
    }
    #mortgage_main_wrapper .allMortgageBlocks {
    	width: 225px;
    }
    #mortgage_main_wrapper .mainInputsClass {
    	width: 210px;
    }
    #mortgage_main_wrapper input {
    	width: 115px;
    }
    #mortgage_main_wrapper .fothNigClass {
    	width: 130px;
    	height: 20px;
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
    #mortgage_main_wrapper .weekMonthClass {
    	width: 130px;
    	height: 20px;
    }
    #mortgage_main_wrapper .fothNigClass p {
    	height: 20px;
    	line-height: 20px;
    	font-size: 14px !important;
    }
    #mortgage_main_wrapper .weekMonthClass p {
    	height: 20px;
    	line-height: 20px;
    	font-size: 14px !important;
    }
}
@media (max-width: 560px) {

}